  
  /*
   html,body,.app {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
  } 
  */
  
  body {
    background-color: #56d7bf;
    color: rgba(#000000, 0.87);
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
   }
  h3{
    color: rgb(18, 3, 146);
    margin-top: 1px;
    margin-bottom: 4px;
    /* width: 390px; */
    box-shadow: 0 4px 10px rgb(0 0 0 / 42%);
    text-align: center;
    background: #2196F3;
    width: 365px;;
  }
   .toolbar {
    width: 365px;
    display: flex; /*Современная замена float: left  */
    flex-direction: row;
    flex-shrink: 0; /* не делай эту кнопку меньше её заданного размера».*/

    position: sticky;/* Делаем панель липкой */
    top: 0;          /* Прилипать к самому верху */
    z-index: 1000;   /* Чтобы панель была поверх остального контента */
    background-color: #4d545f;/* Добавим фон и тень, чтобы она выделялась при прокрутке */
    box-shadow: 0 14px 5px 6px rgba(0,0,0,0.1);
   
    /* padding: 6px; */
    color: azure;
    justify-content: space-between;
   


    }
  #device-name{
    margin: 1px 5px;
    user-select: none;
  }
   /* .toolbar .name {
      flex-grow: 1;
      padding: 0 8px;
      user-select: none;
      } */
       
   .buttons-tool {
    display: flex; 
    flex-shrink: 0;
    }

   /* кнопки подключения к блютуз */
  .button-bt {
    /* display: flex;  */
    background: rgb(6, 177, 251);
    cursor: pointer;
    margin:2px;
    padding: 9px;
    transition: background 0.3s, color 0.3s;
    user-select: none;
    border-radius: 4px; /* Рекомендуется добавить небольшой радиус для фона */
    flex-shrink: 0;  /* не делай эту кнопку меньше её заданного размера».*/
    /* border: #e5a978; */
    /* color:  #4CAF50; */
   }
   
 /* Состояние при наведении курсора на кнопки блютуз */
 .button-bt:hover {
  background: rgb(0, 4, 128); /* Очень легкая серая заливка */
  color: #e8f0e8;  /* цвет символа*/
   }


#blok-message{
  width: 365px;;
  background-color: #4d545f;
  margin-top: 1px;
  }


/* строка ввода */
.message-form {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  /* padding: 6px; */
  }       

  #message-input {
    background: black;
    color: rgb(7, 219, 7);
    /* border: none; */
    
    /* flex-grow: 1; */
    font: normal 16px/1.5 'Roboto Mono', monospace;

    margin: 1px 5px;
    
    width: 300px;
    }
  .input-data{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 365px;;
    background-color: cadetblue ;
    
  }  

  .input-data p{ 
    width: 100px;
    padding: 9px;
    margin: 2px;
    background-color: #d6551d;
    color: #e8f0e8;
    border: 2px solid black
    
  }

  /* input {
    background: rgb(167, 165, 162);
    font: normal 16px/1.5 'Roboto Mono', monospace;
    padding: 1px 5px;
    color: black;
    width: 370px;
    } */

  .app {/* */
    display: flex; /*гибкий контейне */
    flex-direction: column; /*элементы располагаются в столбец сверу вниз */
  }

  /* пользовательские кнопки */
  .button-user {
    background: rgb(251, 6, 6);
    /* border: #e5a978; */
    color:  white;
    cursor: pointer;
    margin:2px;
    padding: 9px;
    transition: background 0.3s, color 0.3s;
    user-select: none;
    border-radius: 4px; /* Рекомендуется добавить небольшой радиус для фона */
    flex-shrink: 0;  /* не делай эту кнопку меньше её заданного размера».*/
   }

  /* Состояние при наведении курсора */
  .button-user:hover {
  background: green; /*цвет фона кнопки*/
  color: #e8f0e8;  /* цвет символа*/
}

/* выделение кнопки при навигации с помощью клавиатуры */
 button:focus-visible {
        outline: 5px solid #c6cee8;
      }

  /* Состояние при нажатии */
/* button:active {
  background: #c9e627e8;
  color: #051b06;
} */
  
button i.material-icons {
  /* !--Выравнивает элемент по центру строки. */
  vertical-align: middle; 
 
}

/* i.material-icons {
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24
} */

 
 




  .terminal {
    width: 365px;
          border: 10px solid rgba(#000000, 0.12);
          border-width: 1px 0;
          flex-grow: 1;
          overflow: auto;
          padding: 10px 0;
          height: 300px;
          background: #0a0a0a;
          
          color:  green;
          line-height: 1;
          padding: 4px 8px;
          word-break: break-word; /*перенос слов*/
       }

  /* div {
      color:  green;
      line-height: 1;
      padding: 4px 8px;
      word-break: break-word; 
     }   */
 
 .error {
   color:  #F44336;
   }
      
 .incoming {
   color: #4CAF50;
   }
      
 .outgoing {
   color: #2196F3;
   }


  
 
  ::placeholder {
   color: rgba(#000000, 0.54);
   }
           
          
     /* button {
            flex-shrink: 0; 
            }
          */
          
       
     